body {
	text-align: left;
	font-family: Helvetica;
	background-color: rgba(246,255,241);
	color: rgba(51,51,51);
	margin: 0px 0px 0px 0px;
}
.banner {
	background-image: url(images/background.jpg);
	background-size: cover;
	background-position: center;
	padding: 200px 60px 300px 60px;
	margin-bottom: 100px;
}
h1 {
	text-align: center;
	font-size: 90px;
	line-height: 90px;
	letter-spacing: 20px;
	font-weight: normal;
	padding-top: 40px;
	color: white;
	text-shadow: 3px 3px 3px rgba(51,51,51,0.4);
	margin-bottom: 40px;
}
p {
	font-size: 25px;
	margin-left: 200px;
}
.textCodingApprentice {
	margin-top: 50px;
}
h3 {
	margin-top: 60px;
	text-align: center;
}
.eu {
	border: 2px solid rgba(51,51,51);
	width: 400px; 
	margin-right: 200px;
	margin-left: 60px;
	padding: 7px 7px 7px 7px;
}
.list {
	list-style: none;
	padding-left: 0;
	text-align: center;
}
.list li {
	display: inline;
	text-align: center;
}
.list a {
	color: rgba(51,51,51);
	font-size: 20px;
	text-align: center;
}
.list a:hover {
	color: rgba(172,172,172);
}
.welcome {
	background-color: rgba(246,255,241);
	color: rgba(51,51,51);
	border: 2px solid rgba(51,51,51);
	font-size: 15px;
	padding: 5px 8px 5px 8px;
	position: absolute;
	margin-top: -25px;
}
.inline {
	display: flex;
}


@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  	.container {
	    width: 700px;
	    text-align: center;
	    position: absolute;
	    margin-left: 0px;
		margin-right: 0px;
  	}
  	.inline {
		display: inline-grid;
	}
	.description {
		margin-left: 10px;
		margin-right: 10px;
	}
	.textCodingApprentice {
		margin-left: 10px;
		margin-right: 10px;
	}
	.eu {
		margin-left: 0px;
		margin-right: 0px;
	}	
	.banner {
		padding-left: 0px;
		padding-right: 0px;
		margin-right: 0px;
	}
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  	.container {
	    width: 500px;
	    text-align: center;
	    position: absolute;
	    margin-left: 0px;
		margin-right: 0px;
 	}
 	.inline {
		display: inline-grid;
	}
	.description {
		margin-left: 10px;
		margin-right: 10px;
	}
	.textCodingApprentice {
		margin-left: 10px;
		margin-right: 10px;
	}
	.eu {
		margin-left: 0px;
		margin-right: 0px;
	}
	.banner {
		padding-left: 0px;
		padding-right: 0px;
		margin-right: 0px;
	}		
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  	.container {
	    width: 300px;
	    text-align: center;
	    position: absolute;
	    margin-left: 0px;
		margin-right: 0px;
  	}
  	.inline {
		display: inline-grid;
	}
	.description {
		margin-left: 10px;
		margin-right: 10px;
	}
	.textCodingApprentice {
		margin-left: 10px;
		margin-right: 10px;
	}
	.eu {
		margin-left: 0px;
		margin-right: 0px;
	}	
	.banner {
		padding-left: 0px;
		padding-right: 0px;
		margin-right: 0px;
	}
}
